@font-face {
  font-family: "Geomancy Extra Bold";
  src: url("../police/Geomancy_-_Extra_Bold.eot") format("eot"),
       url("../police/Geomancy_-_Extra_Bold.woff") format("woff"),
       url("../police/Geomancy_-_Extra_Bold.ttf") format("truetype"),
       url("../police/Geomancy_-_Extra_Bold.svg#Geomancy-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img, .element {
  max-width: 100%;
  height: auto;
}

.navbar
{
    background-color: #100242;
}

.custom
{
    color: #ffffff;
}

.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.collapse 
{
    color: #ffffff;
}

ul.navbar-nav li a 
{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

 .btn-benevole {
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid #100242; /* rouge sportif moderne */
  color: #100242;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.3s ease;
  letter-spacing: 1px;
}

/* Effet au survol */
.btn-benevole:hover {
  background-color: #100242;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(83, 57, 230, 0.3);
}


.club
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
   border-color: #D8DC1B;
}

.disabled-link
{
    text-decoration: none;
    color: #ffffff;
}

.accueil
{
  font-family: 'Geomancy Extra Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #100242;
}

.modal-title
{
  font-family: 'Barlow', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #D8DC1B;
  text-align: center;
}

.modal-body
{
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #f8f8fa;
  text-align: center;
}

/*animation title modal*/
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/*
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/*animation "en cours*/
.loading span {
  display: inline-block;
  animation: wave 1s infinite;
}

.loading span:nth-child(2) { animation-delay: 0.1s; }
.loading span:nth-child(3) { animation-delay: 0.2s; }
.loading span:nth-child(4) { animation-delay: 0.3s; }

@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

.build {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
/*fin animation "en cours*/

h2 
{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #100242;
}

h3 
{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #100242;
}

h4
{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: #100242;
} 

body p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #100242;
}

.italic
{
    font-style: italic;
    color: #4e4d50;
}

.justified-text
{
    text-align: justify;
}

.courses
{
    font-family: 'Barlow', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #100242;
    text-decoration: 5px underline #D8DC1B;
}

.partnersTitle
{
    font-family: 'Barlow', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #100242;
    border: #D8DC1B 5px solid;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 60%;
    margin: 0 auto;
}

.klikego
{
  border: #cfced1 1px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #8f8f91; 
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none; /* Pas de soulignement par défaut */
  }

.map
  {
    height: 90px;
    width: 90px;
  }
  
  /* Style des liens au survol */
  .navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline 2px  ; /* Soulignement au survol */
    color: #ffffff;
  }

.image-container {
  position: relative;
}

.image-logo {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  animation-name: focus-in-contract;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.image-club {
  position: absolute;
  top: 35%;
  left: 83%;
  transform: translate(-50%, -50%);
  animation-name: focus-in-contract;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.image-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  font-family: 'Geomancy Extra Bold', sans-serif;
  color: white;
  animation-name: focus-in-contract;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}


@keyframes focus-in-contract {
			
    0% {
        letter-spacing:1em;
        filter:blur(12px);
        opacity:0;
    }
    100% {
        filter:blur(0);
        opacity:1;
    }
}
/*end animation title*/

.btn-modal {
  background-color: #100242;
  color: #ffffff;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top:10px;
}

.btn-modal:hover {
  color: #100242;
  border-color: #100242;
}

.itemChoice {
  transition:transform 0.3s ease-in-out;
}

.itemChoice:hover {
  transform: scale(1.2);
}

.Mathieu
{
  width: 50%;
  height: 10%;
}

/*start gallery*/
.gallery-wrapper {
    background-color: #100242;
    box-sizing: border-box;
    height: 190px;
    overflow: hidden;
  }
  
  .item {
    box-sizing: border-box;
    height: 100%;
    padding: 16px 8px;
  }
  
  .item img {
    display: block;
    height: 100%;
    width: 250px;
    border-radius: 5%;
  }


/* Appliquez l'animation à la classe .gallery */
.gallery {
  background-color: #100242;
  display: flex;
  box-sizing: border-box;
  width: max-content;
  height: 180px;
  padding: 0px 8px;
  animation: scrollGallery 30s linear infinite; /* Définit le défilement automatique pendant x secondes avec une animation linéaire infinie */
  cursor: pointer; /* Ajoutez un curseur pointer pour indiquer qu'il est possible de cliquer sur la galerie */
}

/* Ajoutez cette règle pour suspendre l'animation au survol */
.gallery:hover {
  animation-play-state: paused;
}

  /* Ajoutez cette règle CSS pour l'animation */
  @keyframes scrollGallery {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-83%);
    }
  }
  /*end gallery*/

  .overlayRubrique
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlayRubrique h1
  {
    font-family: 'open sans', 'sans-serif';
    font-size: 4rem;
    font-weight: 500;
    color: white;
  }

/*animation arrow rubriques*/
  .slide-bottom {
    -webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite both;
            animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite both;
  }

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
/*end animation arrow rubriques*/

/* ----------------------------------------
* @animation focus-in-contract-bck
* ----------------------------------------*/
.focus-in-contract-bck 
{
	-webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          font-size: 4rem;

}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.shadow
{
  filter: drop-shadow(20px 20px 0px #D9DC1B);
  
}

fieldset
{
  border: 1px solid #100242;
  border-radius: 10px;
  margin: 20px; 
  margin-top: 3px;
  }

.partner img
{
  width: 80%;
  height: 80%;
}

.imprimerieR
{
  width: 20%;
  height: 20%;
}

/*Animation partenaires*/

.cosy {
  position: relative;
}

/* .cosy img {
  width: 50%;
}
 */
 .partenaire {
  position: relative;
}

.partenaire .hover-text {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  z-index: 1;
  white-space: nowrap;
}

.partenaire:hover .hover-text {
  display: block;
}

.cosy .overlay1 {
  position: absolute;
  background-color: rgb(97, 95, 95, 0.95);
  color: white;
  font-size: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.cosy .overlay2 {
  position: absolute;
  background-color: rgb(97, 95, 95, 0.95);
  color: white;
  font-size: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.cosy .overlay3 {
  position: absolute;
  background-color: rgb(97, 95, 95, 0.95);
  color: white;
  font-size: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.cosy .overlay1 p {
  color: white;
}
.cosy .overlay2 p {
  color: white;
}
.cosy .overlay3 p {
  color: white;
}

.cosy:hover .overlay1 {
  transform: scale(1);
  transition: transform 0.5s;
  top: 0;
  border: 5px solid yellow;
  border-radius: 50px; 
}
.cosy:hover .overlay2 {
  transform: scale(1);
  transition: transform 0.5s;
  bottom: 5%;
  left: 30%;
  border: 5px solid yellow;
  border-radius: 50px; 
}
.cosy:hover .overlay3 {
  transform: scale(1);
  transition: transform 0.5s;
  bottom: 0;
  border: 5px solid yellow;
  border-radius: 50px; 
}

/*Compte à rebours*/
.countdown-container {
  font-family: 'Barlow', sans-serif;
  color: rgb(221, 205, 35);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  margin: 0.5rem auto;
}

.eventTitle {
 font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
 color: #0a2986;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.time-block {
  background: #0a2986;
  padding: 0.5rem;
  border-radius: 8px;
  min-width: 100px;
}

.number {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.label {
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.8;
}

.message {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.5rem;
  color: #0a2986;
}

/*footer*/
.footer
{
  background-color: #100242;
  height: 130px;
  width: 100%;
  margin-top: 50px;
}

.address
{
  font-size: 16px;
  color:#ffffff;
}

.mention
{
  font-size: 12px;
}
.row {
  margin-right: 0;
  padding-right: 0;
}


/*-------------------*/
/*Responsive         */
/*-------------------*/
@media (max-width: 830px) {
  .countdown {
    gap: 0.5rem;
  }

  .time-block {
    min-width: 60px;
    padding: 0.3rem;
  }

  .number {
    font-size: 1.5rem;
  }

  .label {
    font-size: 0.7rem;
  }

  .message {
    font-size: 1.5rem;
  }

 .text {
  margin-left: 1rem;
  margin-right: 1rem;
 }

 .image-text img
  {
   border-radius: 20%;
 }

 .image-text
 {
    margin-top: 10px;
 } 

 .image-text h1 {
  font-size: 0.5rem; /* Taille du texte pour les écrans très petits */
 }

.itemChoice:hover {
  transform:none;
 }
 .courses
  {
    font-size: 1.5rem;
  }
  .overlayRubrique{
    padding-bottom: 50px;
  }

  .partnersTitle
  {
    font-size: 1.5rem;
  }

  .overlayRubrique h1
  {
    font-size: 2rem;

  }

  h4
  {
    font-size: 1.5rem;
  }

  .text-overlay h1
  {
    font-size: 1.5rem;
    margin-bottom: 450px;
  }

  .partenaire
  {
    margin-bottom: 15px;
  }
  
  .office
  {
    margin-top: 0;
    margin-bottom: 15px;  
  }
  .hebergement
  {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .hebergement .partenaire img
  {
    width: 90%;
    height: 90%;
  }
  .mapHyundai
  {
    margin-top: 0;
  }

  .infoRed
  {
    font-size: 1.5rem;
    text-align: justify;
  }

  .text-overlay img 
  {
    width: 50%;
    height: 50%;
    margin-top: -800px;
  }

  .focus-in-contract-bck
  {
    font-size: 2rem;
  }

  .video-responsive {
    width: 100%;
    max-width: 600px; /* Limite la taille maximale */
    height: auto; /* Ajuste la hauteur automatiquement */
  }
  
  .footer
  {
    height: 350px;
  }

  .footer ul a
  {
    text-align: center;
    max-width: 70%;
  }

  .footer .address
  {
    text-align: center;
    margin-bottom: 5px;
  }

  .image-logo img {
    max-width: 40%; /* Ajustez la largeur selon vos besoins */
  }

  .image-text h1 {
    font-size: 1.5rem; /* Taille du texte pour les écrans très petits */
    margin-top: 70px;
  }

  .image-club img {
    max-width: 70%; /* Ajustez la largeur selon vos besoins */
  }

  .card {
    max-width: 85%; /* Ajustez la valeur du padding selon vos besoins */
  }

  iframe
  {
    max-width: 85%;
  }
}
